.title {
    font-size: 30px;
    color: #151255;
}

.about {
  font-size: 26px;
  color: #151255;
}

.subTitle {
    text-align:center;
    font-size: 50px;
    color: #151255;
    margin-top: 50px;
    margin-bottom: 50px;
    font-weight: 500;
    background: linear-gradient(to right bottom, rgb(255, 255, 255) 30%, rgba(255, 255, 255, 0.38)) padding-box text
}

@media only screen and (max-width: 600px) {
  .subTitle {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

.featuresHeader {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align:center;
  font-size: 40px;
  color: #151255;
}

.featuresText {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align:center;
  font-size: 40px;
  color: #151255;
}

.questionWrapper {
  border-color: #b698ec;
  border-width: 2px;
  border-radius: 15px;
  padding: 20px;
  background-image: radial-gradient(
    farthest-corner at 60% 0,
    rgb(188, 210, 247) 0%,
    #f0eded 100%
  );
  margin: 10px;
}

.question {
    color: #151255;
    font-size: 30px;
    line-height: 1.2;
}

.answer {
    margin-top: 20px;
    font-size: 22px;
}

.searchInput {
  /* line-height: 60px; */
  font-size: 22px;
  border-radius: 6px;
  margin-right: 40px;
  width: 360px;
  height: 40px;
}

@media only screen and (max-width: 600px) {
  .searchInput {
    margin-bottom: 20px;
  }
}

.searchButton {
  align-items: center;
  appearance: none;
  /* background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%); */
  background-image: radial-gradient(
    farthest-corner at 100% 0,
    rgb(115, 206, 194) 0%,
    #5a54c6 100%
  );
  border-radius: 12px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  height: 60px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 22px;
  padding-right: 22px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 22px;
}

.searchButton:hover {
  box-shadow: rgba(22, 2, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #061267 0 -3px 0 inset;
  transform: translateY(-4px);
}

.searchButton:active {
  box-shadow: #040a38 0 3px 7px inset;
  transform: translateY(4px);
}

.searchButtonWrapper {
    text-align: center;
    margin-bottom: 100px;
    margin-top: 50px;
}

@media only screen and (max-width: 600px) {
    .searchButtonWrapper {
        text-align: center;
        margin-bottom: 50px;
        margin-top: 20px;
    }
}