.title {
    text-align:center;
    font-size: 60px;
    color: #151255;
    margin-top: 30px;
    margin-bottom: 50px;
    border-bottom: solid 8px #55bde9;
}

.subTitle {
    text-align:center;
    font-size: 40px;
    color: #151255;
    margin-bottom: 50px;
}

.question {
    color: #151255;
    font-size: 30px;
    margin-bottom: 15px;
}

.answer {
    font-size: 22px;
}

/* .deviceLink {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border-width: 4px;
    border: solid 1px #20538D;
    background: #4479BA;
    color: #151255;
    background-color: white;
    padding: 8px 22px;
    font-size: 2rem;
    text-decoration: none;
    border-width: medium;
} */

/* CSS */
.deviceLink {
  align-items: center;
  appearance: none;
  /* background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%); */
  background-image: radial-gradient(
    farthest-corner at 100% 0,
    rgb(115, 206, 194) 0%,
    #151255 100%
  );
  border-radius: 6px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.deviceLink:hover {
  box-shadow: rgba(22, 2, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #061267 0 -3px 0 inset;
  transform: translateY(-4px);
}

.deviceLink:active {
  box-shadow: #040a38 0 3px 7px inset;
  transform: translateY(4px);
}

.deviceLinkWrapper {
    text-align: center;
    margin-bottom: 100px;
    margin-top: 50px;
}

@media only screen and (max-width: 600px) {
    .deviceLinkWrapper {
        text-align: center;
        margin-bottom: 50px;
        margin-top: 20px;
    }
}