:root {
  --background: #ffffff;
  --Blue100: #d6d5e1;
  --Blue200: #b4b3c9;
  --Blue300: #9391b0;
  --Blue400: #74729a;
  --Blue500: #565484;
  --Blue600: #39366f;
}

@font-face {
  font-family: 'Bitter';
  src: url('/fonts/Bitter-VariableFont_wght.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Bitter-Italic';
  src: url('/fonts/Bitter-Italic-VariableFont_wght.ttf');
  font-weight: 400;
  font-style: bold;
}