.title {
    font-size: 30px;
    color: #151255;
}

.about {
  font-size: 26px;
  color: #151255;
}

.subTitle {
    text-align:center;
    font-size: 50px;
    color: #151255;
    margin-top: 50px;
    margin-bottom: 50px;
    font-weight: 500;
    background: linear-gradient(to right bottom, rgb(255, 255, 255) 30%, rgba(255, 255, 255, 0.38)) padding-box text
}

@media only screen and (max-width: 600px) {
  .subTitle {
      text-align: center;
      margin-top: 30px;
    margin-bottom: 30px;
  }
}
