.title {
    font-size: 30px;
    color: var(--Blue600);;
    margin-left: 10px;
    font-family: 'Bitter';
    font-weight: 600;
}

.about {
  font-size: 30px;
  color: var(--Blue600);;
  font-family: 'Bitter';
  font-weight: 400;
}

.logo {
  display:inline-block;
  vertical-align: middle;
}

.wrapper {
  display: flex;
  align-items: center;
}