.SearchInput {
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.SearchResultsWrapper {
    display: flex;
    justify-content: center;
    max-width: 90%;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
  }


.tableRow:hover {
    cursor: pointer
}
  