.SearchInput {
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;

    font-size: 22px;
    border-radius: 6px;
    border-color: var(--Blue300);
    width: 360px;
    height: 40px;
}

.SearchResultsWrapper {
    display: flex;
    justify-content: center;
    width: 90%;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    padding-bottom: 10px;
}

.table {
    table-layout: fixed;
    word-wrap: break-word;
}


.tableRow:hover {
    cursor: pointer
}