.SearchInput {
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;

    font-size: 22px;
    width: 360px;
}

.SearchResultsWrapper {
    display: flex;
    justify-content: center;
    width: 90%;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    padding-bottom: 10px;
}

.Header {
    text-align: center;
}

.SubHeader {
    text-align: center;
}

.FormItem {
    padding: 10px;
}